{% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
{{ 'component-collection-hero.css' | asset_url | stylesheet_tag }}

<div class="collection-hero color-{{ section.settings.color_scheme }}">
  <div class="collection-hero__content page-width">
    <div class="collection-hero__box">
      <h1 class="collection-hero__title {% if section.settings.color_scheme == 'black' %}text-color-light{% else %}text-color-dark{% endif %}">
        <span class="visually-hidden">{{ 'sections.collection_template.title' | t }}: </span>
        {% if collection.metafields.custom.display_title_1 or collection.metafields.custom.display_title_2 %}
          {{- collection.metafields.custom.display_title_1 | escape -}}
          {% if collection.metafields.custom.display_title_2 %}
            <br>
            <span class="outlined">
              {{- collection.metafields.custom.display_title_2 | escape -}}
            </span>
          {% endif %}
        {% else %}
          {{ collection.title }}
        {% endif %}
      </h1>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-collection-banner.name",
  "class": "section",
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "yellow",
          "label": "t:sections.all.colors.yellow.label"
        },
        {
          "value": "red",
          "label": "t:sections.all.colors.red.label"
        },
        {
          "value": "black",
          "label": "t:sections.all.colors.black.label"
        }
      ],
      "default": "yellow",
      "label": "t:sections.all.colors.label"
    }
  ]
}
{% endschema %}
